[MASTER]

disable =
    arguments-differ,
    attribute-defined-outside-init,
    duplicate-code,
    eval-used,
    function-redefined,
    import-error,
    invalid-name,
    missing-docstring,
    no-name-in-module,
    pointless-string-statement,
    redefined-builtin,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-function-args,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-public-methods,
    too-many-statements,
    unused-wildcard-import,
    wildcard-import,

extension-pkg-whitelist=numpy

generated-members = id, x, y, z, h, s, sdg, u1, u2, u3, cx, barrier, binary, measure, append, rx, ry

notes = 

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=100
